# Custom Carrier
karrio-ajex @ file://${PWD}/community/plugins/ajex
karrio-allied_express @ file://${PWD}/community/plugins/allied_express
karrio-allied_express_local @ file://${PWD}/community/plugins/allied_express_local
karrio-amazon_shipping @ file://${PWD}/community/plugins/amazon_shipping
karrio-aramex @ file://${PWD}/community/plugins/aramex
karrio-asendia_us @ file://${PWD}/community/plugins/asendia_us
karrio-aymakan @ file://${PWD}/community/plugins/aymakan
karrio-barqfleet @ file://${PWD}/community/plugins/barqfleet
karrio-boxknight @ file://${PWD}/community/plugins/boxknight
karrio-bpost @ file://${PWD}/community/plugins/bpost
karrio-canpar @ file://${PWD}/community/plugins/canpar
karrio-chronopost @ file://${PWD}/community/plugins/chronopost
karrio-colissimo @ file://${PWD}/community/plugins/colissimo
karrio-dicom @ file://${PWD}/community/plugins/dicom
karrio-dpd @ file://${PWD}/community/plugins/dpd
karrio-easypost @ file://${PWD}/community/plugins/easypost
karrio-easyship @ file://${PWD}/community/plugins/easyship
karrio-eshipper @ file://${PWD}/community/plugins/eshipper
karrio-freightcom @ file://${PWD}/community/plugins/freightcom
karrio-geodis @ file://${PWD}/community/plugins/geodis
karrio-hay_post @ file://${PWD}/community/plugins/hay_post
karrio-jtexpress @ file://${PWD}/community/plugins/jtexpress
karrio-locate2u @ file://${PWD}/community/plugins/locate2u
karrio-logistic_io @ file://${PWD}/community/plugins/logistic_io
karrio-mydhl @ file://${PWD}/community/plugins/mydhl
karrio-nationex @ file://${PWD}/community/plugins/nationex
karrio-roadie @ file://${PWD}/community/plugins/roadie
karrio-royalmail @ file://${PWD}/community/plugins/royalmail
karrio-sapient @ file://${PWD}/community/plugins/sapient
karrio-sendcloud @ file://${PWD}/community/plugins/sendcloud
karrio-shipengine @ file://${PWD}/community/plugins/shipengine
karrio-tge @ file://${PWD}/community/plugins/tge
karrio-tnt @ file://${PWD}/community/plugins/tnt
karrio-veho @ file://${PWD}/community/plugins/veho
karrio-zoom2u @ file://${PWD}/community/plugins/zoom2u
